@font-face {
  font-family: 'LifehackSans';
  src: url('./assets/fonts/LifehackSans.otf');
}

@font-face {
  font-family: 'Dosis';
  src: url('./assets/fonts/Dosis.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
